#root {
  max-width: auto;
  margin: 0 auto;
}

.wave-heading {
    opacity: 0;
    animation: waveEffect 2s ease-in-out forwards;
}

@keyframes waveEffect {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.blur-bg {
  filter: blur(8px);
}
